/* 
    Кольори тексту: 
        основний - #757575;
        для заголовків - #212121;
        для контаків - rgba(255, 255, 255, 0.6);
        для логотипу - #000000;
    
    Жирність тексту: 
        medium - 500;
        bold - 700;

    Загальні кольори:
        білий - #FFFFFF;
        колір акценту - #2196F3;
    
    Кольори фону:
        основний - #2F303A;
        світлий - #F5F4FA;
        темний - rgba(255, 255, 255, 0.1);
        колір для ховера кнопки - #188CE8;
        колір іконок - #AFB1B8;

    Кольори для рамок:
        для карток - #EEEEEE;
        для інпуту - rgba(33, 33, 33, 0.2);

    Кольори для тіней:
        колір тіні один - rgba(0, 0, 0, 0.2);
        колір тіні два -  rgba(0, 0, 0, 0.14);
        колір тіні три -  rgba(0, 0, 0, 0.12);
    
    Розмір відступів:
        обнулення - 0px;
        мінусовий відступ для карток - (-15px);
        додатній відступ для карток - 15px;

    Анімація:
        час переходу - 250ms;
        функція розподілу часу - cubic-bezier(0.4, 0, 0.2, 1);
*/

:root {
    /* Кольори тексту */
    --primary-cl-txt: #757575;
    --title-cl-txt: #212121;
    --contact-cl-txt: rgba(255, 255, 255, 0.6);
    --logo-cl-txt: #000000;

    /* Жирність тексту */
    --medium-weight-txt: 500;
    --bold-weight-txt: 700;

    /* Загальні кольори */
    --white-cl: #FFFFFF;
    --accent-cl: #2196F3;
    

    /* Кольори фону */
    --main-bg-cl: #2F303A;
    --light-bg-cl: #F5F4FA; 
    --dark-bg-cl: rgba(255, 255, 255, 0.1);
    --btn-hover-cl: #188CE8;
    --icon-bg-cl: #AFB1B8;

    /* Кольори для рамок */
    --border-card-cl: #EEEEEE;
    --border-input-cl: rgba(33, 33, 33, 0.2);

    /* Кольори для тіней */
    --shadows-one: rgba(0, 0, 0, 0.2);
    --shadows-two: rgba(0, 0, 0, 0.14);
    --shadows-three: rgba(0, 0, 0, 0.12);

    /* Відступи */
    --zeroing-indents: 0px;
    --negative-card-indent: -15px;
    --positive-card-indent: 15px;

    /* Анімація */
    --time-animation: 250ms;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-cl-txt);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Утиліти */
.img-nt-indent {
    display: block;
}

/* Лінія під хеадером */
.page-header {
    border-bottom: 1px solid #ECECEC;
}

/* Контейнер для контенту */
.container {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Шапка сайту */
.container.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-cl);

    font-family: 'Raleway', sans-serif;;
    font-weight: var(--bold-weight-txt);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo > .logo-black-color {
    color: var(--logo-cl-txt);
}

.navigation-list {
    display: flex;

    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);
    margin-left: 93px;
    padding-left: var(--zeroing-indents);
}

.navigation-list > .item {
    position: relative;
}

.navigation-list > .item + .item {
    margin-left: 50px;
}

.navigation-list  .link {
    display: inline-block;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-cl-txt);

    font-weight: var(--medium-weight-txt);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--time-animation) var(--time-function);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
    color: var(--accent-cl);
}

.link.is-active {
    color: var(--accent-cl);
}

.link.is-active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    border-radius: 2px;

    width: 100%;
    height: 4px;

    background-color: var(--accent-cl);
}

.contact-list {
    display: flex;

    margin-left: auto; 
    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);
    padding-left: var(--zeroing-indents);
}

.contact-list>.item+.item {
    margin-left: 50px;
}

.contact-list .link {
    display: inline-flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-list-style .link {
    color: var(--primary-cl-txt);
    
    font-weight: var(--medium-weight-txt);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--time-animation) var(--time-function);
}

.contact-list-style .link:hover,
.contact-list-style .link:focus {
    color: var(--accent-cl);
}

.icon-contact {
    margin-right: 10px;

    fill: currentColor;
}

/* Сторінка index.html */

/* Розділ Герой */
.hero {
    background-color: var(--main-bg-cl);
    background-image: linear-gradient(to right, 
                                    rgba(47, 48, 58, 0.4), 
                                    rgba(47, 48, 58, 0.4)),
                                    url(../images/hero/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
}

.hero-title {
    max-width: 650px;

    margin-top: var(--zeroing-indents);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--white-cl);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    min-width: 200px;

    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

    border: none;
    border-radius: 4px;
    
    background-color: var(--accent-cl);
    color: var(--white-cl);
    
    font-family: inherit;
    font-weight: var(--bold-weight-txt);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--time-animation) var(--time-function);
}
.button:hover {
    background-color: var(--btn-hover-cl);
    cursor: pointer;
}

/* Розділ особливостей */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    color: var(--title-cl-txt);

    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);
}

.title.section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.features-list {
    display: flex;

    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);
    padding-left: var(--zeroing-indents);
}

.features-list > .item + .item {
    margin-left: 30px;
}

.features-list .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120px;

    margin-bottom: 30px;
    border-radius: 4px;

    background-color: var(--light-bg-cl);
}

.features-subtitle,
.footer-subtitle,
.thumb-title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Розділ "Чем мы занимаемся" */
.section.nt-top-padding-section {
    padding-top: var(--zeroing-indents);
}

.portfolio-list {
    display: flex;

    margin-top: var(--negative-card-indent);
    margin-right: var(--negative-card-indent);
    margin-bottom: var(--negative-card-indent);
    margin-left: var(--negative-card-indent);
    padding-left: var(--zeroing-indents);
}

.portfolio-list > .item {
    position: relative;

    margin-top: var(--positive-card-indent);
    margin-right: var(--positive-card-indent);
    margin-bottom: var(--positive-card-indent);
    margin-left: var(--positive-card-indent);
}

.portfolio-list .thumb {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;

    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
}

.thumb-title {
    color: var(--white-cl);
    margin-bottom: var(--zeroing-indents);
}

/* Розділ "Наша команда" */
.team-section {
    background-color: var(--light-bg-cl);
}

.team-list {
    display: flex;

    margin-top: var(--negative-card-indent);
    margin-right: var(--negative-card-indent);
    margin-bottom: var(--negative-card-indent);
    margin-left: var(--negative-card-indent);
    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);
    padding-left: var(--zeroing-indents);
}

.team-list > .item {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    margin-top: var(--positive-card-indent);
    margin-right: var(--positive-card-indent);
    margin-bottom: var(--positive-card-indent);
    margin-left: var(--positive-card-indent);

    box-shadow: 0 2px 1px var(--shadows-one),
                0 1px 1px var(--shadows-two),
                0 1px 3px var(--shadows-three);
}

.team-article {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    padding-top: 30px;  
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
   
    background-color: var(--white-cl);

    text-align: center;
}

.team-subtitle,
.team-text {
    margin-top: var(--zeroing-indents);

    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-subtitle {
    margin-bottom: 10px;

    font-weight: var(--medium-weight-txt);
    font-size: 16px;
}

.team-text {
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;

    padding-left: var(--zeroing-indents);
}

.social-list .item+.item {
    margin-left: 10px;
}

.social-list .link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    color: var(--icon-bg-cl);

    transition: background-color var(--time-animation) var(--time-function),
                color var(--time-animation) var(--time-function);
}

.social-list .link:hover,
.social-list .link:focus {
    background-color: var(--accent-cl);
    color: var(--white-cl);

    outline: none;
}

.social-list .icon {
    max-width: 20px;
    max-height: 20px;

    fill: currentColor;
}

/* Розділ "Постійні клієнтти" */

.customers-list {
    display: flex;

    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);
    padding-left: var(--zeroing-indents);
}

.customers-list > .item {
    width: calc((100%-120px)/5);
    height: 92px;
}

.customers-list > .item + .item {
    margin-left: 30px;
}

.customers-list .link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid var(--icon-bg-cl);
    border-radius: 4px;

    color: var(--icon-bg-cl);

    transition: border-color var(--time-animation) var(--time-function),
                color var(--time-animation) var(--time-function);
}

.customers-list .link:hover,
.customers-list .link:focus {
    color: var(--accent-cl);
    border-color: var(--accent-cl);

    outline: none;
}

.customers-list .icon {
    width: 106px;
    height: 60px;
    
    fill: currentColor;
}

/* Заключна частина всієї сторінки(footer) */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--main-bg-cl);
}

.container.wrapper {
    display: flex;
}

.wrapper > div + div {
    margin-left: 70px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.logo > .logo-white-color {
    color: var(--white-cl);
}

.address-link {
    color: var(--white-cl);
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color var(--time-animation) var(--time-function);
}
.address-link:hover {
    color: var(--accent-cl);
}

.address-contact-list {
    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);
    padding-left: var(--zeroing-indents);
}

.address-contact-list > .item + .item {
    margin-top: 9px;
}

.address-contact-list .link {
    color: var(--contact-cl-txt);
    font-style: normal;
}

.social-networks {
    margin-top: 12px;
}

.footer-subtitle {
    margin-bottom: 20px;

    color: var(--white-cl);
}

.social-list .social-link-dark {
    background-color: var(--dark-bg-cl);
    color: var(--white-cl);
}

.container.wrapper > .form-subscription {
    margin-top: 12px;
    margin-left: auto;
}

.form-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: var(--contact-cl-txt);
    background-color: transparent;

    line-height: 1.25;
    letter-spacing: 0.03em;

    transition: border-color var(--time-animation) var(--time-function);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--accent-cl);
    outline: none;
}

.form-btn {
    display: inline-flex;
    margin-left: 12px;
}

.form-icon {
    margin-top: 3px;
    margin-left: 10px;

    fill: currentColor;
}

/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    height: 0;

    width: 100%;
    height: 100%;

    background-color: var(--shadows-one);

    opacity: 1;
    transition: opacity var(--time-animation) var(--time-function),
                visibility var(--time-animation) var(--time-function);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

/* Модальне вікно */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    border-radius: 4px;

    background-color: var(--white-cl);

    box-shadow: 0 2px 1px var(--shadows-one),
                0 1px 1px var(--shadows-two),
                0 1px 3px var(--shadows-three);

    transition: transform var(--time-animation) var(--time-function);
}

.btn-exit {
    position: absolute;
    top: 8px;
    right: 8px;


    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    width: 30px;
    height: 30px;

    background-color: var(--white-cl);
    cursor: pointer;

    box-shadow: 0 2px 1px var(--shadows-one),
                0 1px 1px var(--shadows-two),
                0 1px 3px var(--shadows-three);

    transition: fill var(--time-animation) var(--time-function);
}

.btn-exit:hover {
    fill: var(--accent-cl);
}

/* Форма замовити послугу */
.modal-form {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.modal-title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
}

.modal-label {
    position: relative;
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal-label + .modal-label {
    margin-top: 10px;
}

.modal-input {
    margin-top: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;

    width: 100%;

    border: 1px solid var(--border-input-cl);
    border-radius: 4px;

    background-color: transparent;
    color: var(--title-cl-txt);

    transition: border-color var(--time-animation) var(--time-function);
}

.modal-icon {
    position: absolute;
    top: 27px;
    left: 11px;

    transition: fill var(--time-animation) var(--time-function);
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
    fill: var(--accent-cl);
}

.modal-coment {
    margin-top: 4px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;

    width: 100%;

    border: 1px solid var(--border-input-cl);
    border-radius: 4px;
    
    background-color: transparent;
    color: var(--title-cl-txt);

    resize: none;
    transition: border-color var(--time-animation) var(--time-function);
}

.modal-coment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-input:hover,
.modal-input:focus,
.modal-coment:hover,
.modal-coment:focus {
    border-color: var(--accent-cl);
    outline: none;
}

.modal-checked {
    text-align: center;
    padding-left: 12px;
}

.modal-checkbox {
    display: flex;
    align-items: center;

    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox-input {
    position: absolute;
    margin: -1px;
    padding: 0;

    width: 1px;
    height: 1px;

    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-icon {
    display: inline-block;
    margin-right: 7px;

    width: 16px;
    height: 15px;

    border: 2px solid var(--title-cl-txt);
    border-radius: 3px;

    transition: border-color var(--time-animation) var(--time-function),
                background-color var(--time-animation) var(--time-function),
                background-image var(--time-animation) var(--time-function);
}

.checkbox-input:checked + .checkbox-icon {
    border-color: var(--accent-cl);
    background-color: var(--accent-cl);
    background-image: url(../images/sprits/modal-window/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}

.modal-link {
    margin-left: 5px;

    color: var(--accent-cl);
    text-decoration: underline;

    transition: color var(--time-animation) var(--time-function);
}

.modal-link:hover,
.modal-link:focus {
    color: var(--btn-hover-cl);
}

/* Cторінка portfolio.html */
.filters-list {
    display: flex;
    justify-content: center;

    margin-top: var(--zeroing-indents);
    margin-bottom: 50px;
    padding-left: var(--zeroing-indents);
}

.filters-list > .item + .item {
    margin-left: 8px;
}

.filters-btn {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    border: none;
    border-radius: 4px;

    background-color: var(--light-bg-cl);
    color: var(--title-cl-txt);

    font-family: inherit;
    font-weight: var(--medium-weight-txt);
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    transition: color var(--time-animation) var(--time-function),
                background-color var(--time-animation) var(--time-function),
                box-shadow var(--time-animation) var(--time-function);
}
.filters-btn:hover,
.filters-btn:focus {
    color: var(--white-cl);
    background-color: var(--accent-cl);

    cursor: pointer;

    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1),
                0 1px 2px rgba(0, 0, 0, 0.08),
                0 2px 2px var(--shadows-three);
}
.filters-btn.btn-color {
    color: var(--white-cl);
    background-color: var(--accent-cl);

    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1),
                0 1px 2px rgba(0, 0, 0, 0.08),
                0 2px 2px var(--shadows-three);
}

.cards-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: var(--negative-card-indent);
    margin-right: var(--negative-card-indent);
    margin-bottom: var(--negative-card-indent);
    margin-left: var(--negative-card-indent);
    padding-left: var(--zeroing-indents);
}

.cards-list > .item {
    margin-top: var(--positive-card-indent);
    margin-right: var(--positive-card-indent);
    margin-bottom: var(--positive-card-indent);
    margin-left: var(--positive-card-indent);
}

.cards-list .card-link {
    display: block;

    transition: box-shadow var(--time-animation) var(--time-function);
}

.cards-list .card-link:hover,
.cards-list .card-link:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                0 4px 4px rgba(0, 0, 0, 0.06),
                0 1px 1px var(--shadows-three);

    outline: none;
}

.cards-list .thumb {
    position: relative;
    overflow: hidden;
}

.card-description {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);

    padding-top: 63px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 63px;

    background-color: var(--accent-cl);
    opacity: 0.9;

    transition: transform var(--time-animation) var(--time-function);
}

.card-link:hover .card-description {
    transform: translateY(0);
}

.description {
    margin: var(--zeroing-indents);

    color: var(--white-cl);

    font-size: 18px; 
    line-height: 1.55;
    letter-spacing: 0.03em;
}

.item-article {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid var(--border-card-cl);
    border-bottom: 1px solid var(--border-card-cl);
    border-left: 1px solid var(--border-card-cl);

    color: var(--primary-cl-txt);
}

.portfolio-subtitle {
    margin-bottom: 4px;

    font-weight: var(--bold-weight-txt);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    margin-top: var(--zeroing-indents);
    margin-bottom: var(--zeroing-indents);

    line-height: 1.87;
    letter-spacing: 0.03em;
}